<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario beta</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="/js/scripts.js"></script>
    <script type="module" src="/js/modo_oscuro.js"></script>
</head>
<body>
    <main class="main-container">
        <%- include('partials/header') %>
        <div class="div-content">
            <div class="title-main">
                <h1>Lista de productos</h1>
            </div>
            <section class="section-cards">
                <%- include('partials/cards') %>
            </section>
        </div>
    </main>

</body>
</html>