<Article class="card-product">
    <div class="title"><h3>Microfono</h3></div>
    <div class="body-card">
        <img src="/img/imagen_durisima.png" alt="imagen_durisima">
    </div>
    <div class="footer-card">
        <p>Descripcion del producto</p>
        <p>Stock: 10</p>
        <p>Precio: 1000</p>
        <div class="button-container">
            <button class="button button-buy">Comprar</button>
            <button class="button button-see">Ver producto</button>
        </div>
    </div>
</Article>

<Article class="card-product">
    <div class="title"><h3>Microfono</h3></div>
    <div class="body-card">
        <img src="/img/imagen_durisima.png" alt="imagen_durisima">
    </div>
    <div class="footer-card">
        <p>Descripcion del producto</p>
        <p>Stock: 10</p>
        <p>Precio: 1000</p>
        <div class="button-container">
            <button class="button button-buy">Comprar</button>
            <button class="button button-see">Ver producto</button>
        </div>
    </div>
</Article>

<Article class="card-product">
    <div class="title"><h3>Microfono</h3></div>
    <div class="body-card">
        <img src="/img/el_olvido_que seremos.png" alt="imagen_durisima">
    </div>
    <div class="footer-card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, sed sunt. Deleniti quas laudantium temporibus numquam delectus. Corporis labore perferendis laborum omnis molestiae consequuntur, unde debitis cupiditate. Sapiente, quasi! Quasi?</p>    
        <p>Stock: 10</p>
        <p>Precio: 1000</p>
        <div class="button-container">
            <button class="button button-buy">Comprar</button>
            <button class="button button-see">Ver producto</button>
        </div>
    </div>
</Article>

<Article class="card-product">
    <div class="title"><h3>Microfono</h3></div>
    <div class="body-card">
        <img src="/img/el_olvido_que seremos.png" alt="imagen_durisima">
    </div>
    <div class="footer-card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, sed sunt. Deleniti quas laudantium temporibus numquam delectus. Corporis labore perferendis laborum omnis molestiae consequuntur, unde debitis cupiditate. Sapiente, quasi! Quasi?</p>    
        <p>Stock: 10</p>
        <p>Precio: 1000</p>
        <div class="button-container">
            <button class="button button-buy">Comprar</button>
            <button class="button button-see">Ver producto</button>
        </div>
    </div>
</Article>
