<header class="header-container">
    <nav class="nav-container">
        <ul>
            <li><a href="/" id="home">Home</a></li>
            <li>
                <a href="#" id="sucursales">Sucursales</a>
                <ul class="submenu-sucursales">
                    <li><a href="#" id="sucursal1">Agregar</a></li>
                    <li><a href="#" id="sucursal2">Editar</a></li>
                    <li><a href="#" id="sucursal3">Eliminar</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="marcas">Marcas</a>
                <ul class="submenu-marcas">
                    <li><a href="#" id="marca1">Agregar</a></li>
                    <li><a href="#" id="marca2">Editar</a></li>
                    <li><a href="#" id="marca3">Eliminar</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="productos">Productos</a>
                <ul class="submenu-productos">
                    <li><a href="/agregar" id="agregar">Agregar</a></li>
                    <li><a href="#" id="editar">Editar</a></li>
                    <li><a href="#" id="eliminar">Eliminar</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="info">Info</a>
                <ul class="submenu-info">
                    <li><a href="#" id="acerca">Ventas</a></li>
                    <li><a href="#" id="contacto">Contacto</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="dark_mode">
        <button id="toggleDarkMode">🌙</button>
    </div>
</header>
