<header class="header-container">
    <nav class="nav-container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Info</a></li>
        </ul>
    </nav>
    <div class="dark_mode">
        <button id="toggleDarkMode">🌙</button>
    </div>
</header>
